body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#videos {
    display: flex;
    flex-wrap: wrap;
}

.video-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.video-container video {
    width: 400px;
    height: 300px;
    margin: 10px;
    background: black;
}

.video-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}
