<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Meeting ID: {{ meeting_id }}</h1>
    <div id="videos"></div>
    <button id="leaveMeetingBtn">Leave Meeting</button>
    <script>
        const userId = "{{ user_id }}";
        const meetingId = "{{ meeting_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
